<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../common_css/table.css">
    <script src="character_info.js"></script>

</head>
<body>

    <form>
        <select id="character">
            <option>캐릭터 선택</option>
            <option >name1</option>
            <option>name2</option>
            <option>name3</option>
        </select>
        <input type="button" id="name1" value="조회">
        <input type="reset" value="해제">
    </form>

    <input type="text" id="val1">asf</input>
</body>
</html>