<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../common_css/table.css">

</head>
<body>
    <table class="table" align="center" width="400px">
        <thead>
            <th>항목</th>
            <th>설정</th>
        </thead>
        <tbody>
        <tr>
            <td>상세 항목 1</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>상세 항목 2</td>
            <td>N</td>
        </tr>
        <tr>
            <td>상세 항목 3</td>
            <td>N</td>
        </tr>

        </tbody>
    </table>
</body>
</html>