<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../common_js/jquery-3.6.0.js"></script>
        <script src="../common_js/header.js"></script>
        <script src="../common_js/navigator.js"></script>
        <script src="user_info.js"></script>
        <link rel="stylesheet" href="../common_css/header.css">
        <link rel="stylesheet" href="../common_css/navigator.css">
        <link rel="stylesheet" href="../common_css/table.css">
        <link rel="stylesheet" href="user_info.css">
    </head>

<body>

<header></header>
<nav></nav>

<div class="container">
    <ul class="tab_title">
        <li class="on">회원 기본 정보</li>
        <li>캐릭터 기본정보</li>
        <li>스킬</li>
        <li>장비</li>
        <li>가디언</li>
        <li>도감</li>
        <li>별자리</li>
        <li>안장</li>
        <li>하우징</li>
        <li>가방</li>
        <li>미션</li>
        <li>퀘스트</li>
        <li>우편함</li>
    </ul>
    <div class="tab_cont">
        <div class="on" id="member_info">
            <h5>[기본 정보]</h5>
            <table class="table" align="center" width="800px">
                <thead>
                    <th>회원 번호</th>
                    <th>게임 고유 ID</th>
                    <th>계정 생성일시</th>
                    <th>최종 접속시간</th>
                    <th>계정 상태</th>
                    <th>계정 탈퇴 대상</th>
                </thead>
                <tbody>
                    <tr>
                        <td>2500000</td>
                        <td>200002002</td>
                        <td>2019/10/10 15:00:00</td>
                        <td>2019/10/10 15:00:00</td>
                        <td>이용 정지(욕설) 2019/10/10 15:00:00</td>
                        <td>N</td>
                    </tr>
                </tbody>
            </table>

            <h5>[캐릭터 정보]</h5>
            <table class="table" align="center" width="500px">
                <thead>
                    <th>캐릭터 ID</th>
                    <th>닉네임</th>
                    <th>공격대</th>
                    <th>계정 생성 일시</th>
                    <th>최종 접속 시간</th>
                </thead>
                <tbody>
                <tr>
                    <td>112511246</td>
                    <td>name1</td>
                    <td>레드</td>
                    <td>2019/10/10 15:00:00</td>
                    <td>2019/10/10 15:00:00</td>
                </tr>
                <tr>
                    <td>112511247</td>
                    <td>name2</td>
                    <td>블루</td>
                    <td>2019/10/10 15:00:00</td>
                    <td>2019/10/10 15:00:00</td>
                </tr>
                <tr>
                    <td>112511246</td>
                    <td>name3</td>
                    <td>레드</td>
                    <td>2019/10/10 15:00:00</td>
                    <td>2019/10/10 15:00:00</td>
                </tr>
                </tbody>
            </table>

            <h5>[버전 정보]</h5>
            <table class="table" align="center" width="400px">
                <thead>
                <th>게임 버전</th>
                <th>국가</th>
                <th>언어(게임)</th>
                <th>언어(시스템)</th>
                </thead>
                <tbody>
                <tr>
                    <td>1.0.0</td>
                    <td>KOR</td>
                    <td>EN</td>
                    <td>KR</td>
                </tr><!-- 첫번째 줄 끝 -->
                </tbody>
            </table>

            <h5>[기기 정보]</h5>
            <table class="table" align="center" width="400px">
                <thead>
                <th>플랫폼</th>
                <th>기기 명 (IP)</th>
                <th>OS 버전</th>
                </thead>
                <tbody>
                <tr>
                    <td>Android</td>
                    <td>Galaxy S10</td>
                    <td>9.0.1</td>
                </tr>
                <tr>
                    <td>PC</td>
                    <td>10.20.4.44</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

            <h5>[푸쉬 정보]</h5>
            <table class="table" align="center" width="400px">
                <thead>
                    <th>푸시 동의</th>
                    <th>야간 알림 동의</th>
                    <th>상세 알림 설정</th>
                </thead>
                <tbody>
                <tr>
                    <td>동의 2019/10/10 15:00:00</td>
                    <td>거부 2019/10/10 15:00:00 </td>
                    <td><button onclick=window.open("member_info_popup.html","popup","width=400,height=300")> 상세보기 </button></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="character_info">asd1</div>
        <div id="skill">asd2</div>
        <div id="equipment">asd3</div>
        <div id="guardian">asd4</div>
        <div id="stat">asd5</div>
        <div id="constellation">asd6</div>
        <div id="seal">asd7</div>
        <div id="housing">asd8</div>
        <div id="bag_equipment">asd9</div>
        <div id="mission.html">asd10</div>
        <div id="quest">asd11</div>
        <div id="mailbox">asd11</div>

    </div>
</div>

</body>
</html>
