<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../common_js/jquery-3.6.0.js"></script>
        <script src="../common_js/header.js"></script>
        <script src="../common_js/navigator.js"></script>
        <script src="user_info.js"></script>
        <link rel="stylesheet" href="../common_css/header.css">
        <link rel="stylesheet" href="../common_css/navigator.css">
        <link rel="stylesheet" href="user_info.css">
    </head>

<body>

<header></header>
<nav></nav>

<div class="container">
    <ul class="tab_title">
        <li class="on">회원 기본 정보</li>
        <li>캐릭터 기본정보</li>
        <li>스킬</li>
        <li>장비</li>
        <li>가디언</li>
        <li>도감</li>
        <li>별자리</li>
        <li>안장</li>
        <li>하우징</li>
        <li>가방</li>
        <li>미션</li>
        <li>퀘스트</li>
        <li>우편함</li>
    </ul>
    <div class="tab_cont">
        <div class="on" id="member_info"></div>
        <div id="character_info">asd1</div>
        <div id="skill">asd2</div>
        <div id="equipment">asd3</div>
        <div id="guardian">asd4</div>
        <div id="stat">asd5</div>
        <div id="constellation">asd6</div>
        <div id="seal">asd7</div>
        <div id="housing">asd8</div>
        <div id="bag_equipment">asd9</div>
        <div id="mission.html">asd10</div>
        <div id="quest">asd11</div>
        <div id="mailbox">asd11</div>

    </div>
</div>

</body>
</html>