.container {
    float: left;
    width: auto;
    margin: 1px ;
}

.tab_title li {
    float: left;
    width: 100px;
    padding: 12px 1px;
    cursor: pointer;
    font-size: small;
    text-align: center;
    border: 1px solid #bebebe;
}

.tab_title li.on {
    background-color: #ffb715;
    font-weight: bold;
}

.tab_cont {
    clear: both;
    border: 1px solid #dedede;
    height: 400px;
    background-color: #cecece;
    overflow: scroll;

}

.tab_cont div {
    display: none;

}

.tab_cont div.on {
    display: block;
}

