    <ul class="gnb">
        <li>
            <a href="#">유저정보 ▶</a>
            <ul id="member_info" class="submenu">
                <li><a href="#">L 유저 정보1</a></li>
                <li><a href="#">L 유저 정보2</a></li>
            </ul>
        </li>

        <li>
            <a href="#">유저 로그 ▶</a>
            <ul id="user_log" class="submenu">
                <li><a href="#">L 유저 로그1</a></li>
                <li><a href="#">L 유저 로그2</a></li>
                <li><a href="#">L 유저 로그3</a></li>
            </ul>
        </li>

        <li>
            <a href="#">우편 ▶</a>
            <ul id="send_all" class="submenu">
                <li><a href="#">L 우편1</a></li>
                <li><a href="#">L 우편2</a></li>
                <li><a href="#">L 우편3</a></li>
            </ul>
        </li>

        <li>
            <a href="#">공지 ▶</a>
            <ul id="popup_notice_setting" class="submenu">
                <li><a href="#">L 공지1</a></li>
                <li><a href="#">L 공지2</a></li>
            </ul>
        </li>

        <li>
            <a href="#">컨텐츠 설정 ▶</a>
            <ul id="billing_package_setting" class="submenu">
                <li><a href="#">L 컨텐츠 설정1</a></li>
                <li><a href="#">L 컨텐츠 설정2</a></li>
                <li><a href="#">L 컨텐츠 설정3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">운영 설정 ▶</a>
            <ul id="member_teamfollow" class="submenu">
                <li><a href="#">L 운영 설정1</a></li>
                <li><a href="#">L 운영 설정2</a></li>
            </ul>
        </li>
        <li>
            <a href="#">어드민 로그 ▶</a>
            <ul id="sanctions_log" class="submenu">
                <li><a href="#">L 어드민 로그1</a></li>
                <li><a href="#">L 어드민 로그2</a></li>
            </ul>
        </li>

        <li>
            <a href="#">어드민 관리 ▶</a>
            <ul id="account_auth_management" class="submenu">
                <li><a href="#">L 어드민 관리1</a></li>
                <li><a href="#">L 어드민 관리2</a></li>
            </ul>
        </li>
    </ul>
