<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="import" href="headers.html">
        <link rel="stylesheet" href="../header.css">
        <link rel="stylesheet" href="../css/navigator.css">
        <script src="../js/jquery-3.6.0.js"></script>

        <script src="../js/call.js"></script>

        <script src="../js/header.js"></script>
        <script src="../js/navigator.js"></script>
    </head>
<body>

<header>
    <select>
        <option value="ID">게임 고유 ID</option>
        <option value="nickname">닉네임</option>
    </select>
    <input type="text" placeholder="검색 입력 영역">
    <button type="submit">조회</button>
    <button type="reset">해제</button>
</header>

<nav>

</nav>

</body>
</html> 