*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

header{
    height: 100px;

    background: white;
    display: block;
    float: right;
    margin-right: 1000px;
}

header > form{
    margin-top: 25px;
}

form > select{
    border: black solid 2px;

    background: grey;
}

form > button{
    padding: 2px;
    color: white;
    background: grey;
    border: black solid 2px;

}

