#user_info{
    height: 30px;
    width: 1400px;
    background: #aaaaaa;
}
#user_info ul li{
    float: left;
    height: 29px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
    border: 1px solid black;

}
#user_info>ul>li>a{
    color: #07335b;
}

#user_info>ul>li>a:hover{
    color: white;
}
