<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>SportsBook : 관리자 화면목록</title>
    <link rel="stylesheet" type="text/css" href="../templates/css/style_common.css" >
    <link rel="shortcut icon" href="./images/sportsbook_favicon.ico">
    <style type="text/css">
        * {font-family:tahoma, "맑은고딕", "돋움"; font-size:12px; color:#666666;}
        h1.pagelistT {line-height:40px; font-size:0; color:#fff; background-color:#07335b; }
        h1.pagelistT img {margin-left:20px; }
        div.index_contain {padding:10px; }
        table {width:100%; min-width:900px; }
        td, th {border:1px solid #ddd; height:30px; padding:0 5px 0 5px; word-break:break-all; }
        th {background-color:#aaa; color:#ffffff; }
        a {color:#1b64de; font-size:11px; }
        a:hover {color:#0056d8; }
        a:active {color:#0056d8; }
        a:visited {color:#1b64de; }
        tr.modified > td {background-color:#f0f0f0; color:red; }
    </style>
</head>
<body id="">
<div class="index_contain">
    <h1 class="pagelistT"><img src="./images/top_logo_list.png" /></h1>
    <table cellpadding="0"cellspacing="0">
        <colgroup>
            <col width="120" />
            <col width="120" />
            <col width="150" />
            <col width="60" />
            <col width="*" />
            <col width="50" />
            <col width="50" />
            <col width="50" />
            <col width="150" />
        </colgroup>
        <thead>
        <tr>
            <th colspan="2">카테고리</th>
            <th>화면</th>
            <th>형태</th>
            <th>주소</th>
            <th>디자인</th>
            <th>개발</th>
            <th>감수</th>
            <th>전달사항</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">로그인</td>
            <td>관리자 로그인</td>
            <td class="alignC">화면</td>
            <td><a href="login.html" target="_blank">login.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--	유저 정보 -->
        <tr>
            <td rowspan="25">1.유저 정보</td>
            <td rowspan="2">회원 기본 정보</td>
            <td>회원 기본 정보</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/member_info.html" target="_blank">member_info.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>푸시 정보 팝업</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/member_info_popup.html" target="_blank">member_info_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">캐릭터 기본 정보</td>
            <td>캐릭터 기본 정보</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/character_info.html" target="_blank">character_info.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>레벨 변경 팝업</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/character_info_popup.html" target="_blank">character_info_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">스킬</td>
            <td>스킬</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/skill.html" target="_blank">skill.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>스킬레벨 변경 팝업</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/skill_popup.html" target="_blank">skill_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">장비</td>
            <td>장비</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/equipment.html" target="_blank">equipment.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>장착 옵션</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/equipment_popup.html" target="_blank">equipment_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="3">가디언</td>
            <td>가디언</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/guardian.html" target="_blank">guardian.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가디언 상세보기 팝업</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/guardian_popup.html" target="_blank">guardian_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가디언 영석 </td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/stone.html" target="_blank">stone.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">도감</td>
            <td>도감</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/illustrated_book.html" target="_blank">illustrated_book.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>스텟 팝업</td>
            <td class="alignC">팝업</td>
            <td><a href="../user_info/stat.html" target="_blank">stat.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>별자리</td>
            <td>별자리</td>
            <td class="alignC">화면</td>
            <td><a href="../user_info/constellation.html" target="_blank">constellation.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td >인장</td>
            <td >인장</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/seal.html" target="_blank">seal.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td rowspan="2">하우징</td>
            <td>하우징</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/housing.html" target="_blank">housing.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>영지 배치 상세보기</td>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/housing_popup.html" target="_blank">housing_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="4">가방</td>
            <td>가방 장비</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/bag_equipment.html" target="_blank">bag_equipment.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가방 가디언 장비</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/bag_guardian_equipment.html" target="_blank">bag_guardian_equipment.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가방 재료</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/bag_material.html" target="_blank">bag_material.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가방 가구</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/bag_furniture.html" target="_blank">bag_furniture.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td >미션</td>
            <td>미션</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/mission.html" target="_blank">mission.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td>퀘스트</td>
            <td>퀘스트</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/quest.html" target="_blank">quest.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td rowspan="2">우편함</td>
            <td rowspan="2">우편함</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/mailbox.html" target="_blank">mailbox.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/mailbox_popup.html" target="_blank">mailbox_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--	유저로그		-->
        <tr>
            <td rowspan="8" colspan="2">2.유저로그</td>
            <td>아이템 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/user_log.html" target="_blank">user_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        <tr>
            <td>장비 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/equipment_log.html" target="_blank">equipment_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>인터렉션 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/interaction_log.html" target="_blank">interaction_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>컨텐츠 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/contents_log.html" target="_blank">contents_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>가디언 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/guardian_log.html" target="_blank">guardian_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>성장 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/growth_log.html" target="_blank">growth_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>길드 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/guild_log.html" target="_blank">guild_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>세력 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/influence_log.html" target="_blank">influence_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		우편	-->
        <tr>
            <td rowspan="3">3.우편</td>
            <td rowspan="2">전체 발송</td>

            <td>전체 발송</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/send_all.html" target="_blank">send_all.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>발송 설정</td>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/send_set_popup.html" target="_blank">send_set_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>개별 발송</td>
            <td>개별 발송</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/send_individual.html" target="_blank">send_individual.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		공지	-->
        <tr>
            <td rowspan="6" colspan="2">4.공지 설정</td>
            <td rowspan="2">팝업 공지 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/popup_notice_setting.html" target="_blank">popup_notice_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/popup_notice_setting_popup.html" target="_blank">popup_notice_setting_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">롤링 공지 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/rolling_notice_setting.html" target="_blank">rolling_notice_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/rolling_notice_setting_popup.html" target="_blank">rolling_notice_setting_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">우편함 공지 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/mailbox_notice_setting.html" target="_blank">mailbox_notice_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/mailbox_notice_setting_popup.html" target="_blank">mailbox_notice_setting_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		컨텐츠 설정-->
        <tr>
            <td rowspan="9">5.컨텐츠 설정</td>
            <td rowspan="2">빌링 패키지 설정</td>
            <td rowspan="2">패키지 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/billing_package_setting.html" target="_blank">billing_package_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/billing_package_setting_popup.html" target="_blank">billing_package_setting_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="3">핫타임 이벤트</td>
            <td>핫타임 이벤트</td>

            <td class="alignC">화면</td>
            <td><a href="../fragments/hot_time_event.html" target="_blank">hot_time_event.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>아이템 이벤트 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/item_event_setting.html" target="_blank">item_event_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>버프 이벤트 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/buff_event_setting.html" target="_blank">buff_event_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">웹이벤트</td>
            <td>웹 에벤트</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/web_event.html" target="_blank">web_event.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>웹 이벤트 설정</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/web_event_setting.html" target="_blank">web_event_setting.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td rowspan="2">컨텐츠 on/off</td>
            <td rowspan="2" >컨텐츠 on/off</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/content_on/off.html" target="_blank">content_on/off.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/content_on/off_popup.html" target="_blank">content_on/off_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		운영 설정-->
        <tr>
            <td colspan="2" rowspan="2">6.운영 설정</td>
            <td rowspan="2">제재 및 리스트</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/login.html" target="_blank">login.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/member_teamfollow.html" target="_blank">member_teamfollow.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		어드민 로그-->
        <tr>
            <td colspan="2" rowspan="3">7.어드민 로그</td>
            <td>제재 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/sanctions_log.html" target="_blank">sanctions_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>우편 발송 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/mail_send_log.html" target="_blank">mail_send_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>정보 수정 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/info_modification_log.html" target="_blank">info_modification_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <!--		어드민 관리-->
        <tr>
            <td colspan="2" rowspan="3">8.어드민 관리</td>
            <td rowspan="2">계정 권한 관리</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/account_auth_management.html" target="_blank">account_auth_management.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td class="alignC">팝업</td>
            <td><a href="../fragments/account_auth_management_popup.html" target="_blank">account_auth_management_popup.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>
        <tr>
            <td>정보 수정 로그</td>
            <td class="alignC">화면</td>
            <td><a href="../fragments/info_modification_log.html" target="_blank">info_modification_log.html</a></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td class="alignC"><input type="checkbox" /></td>
            <td><input type="text" length="15" /></td>
        </tr>

        </tbody>

    </table>
</div>
</body>
</html>