<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/navigator.js"></script>
    <script src="../js/user_info.js"></script>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/navigator.css">
    <link rel="stylesheet" href="../css/user_info.css">

</head>
<body>
<header></header>
<nav></nav>


<div id="user_info">
    <ul>
        <li><a href="./member_info.html">회원 기본 정보</a></li>
        <li><a href="#">캐릭터 기본 정보</a></li>
        <li><a href="#">스킬</a></li>
        <li><a href="#">장비</a></li>
        <li><a href="#">가디언</a></li>
        <li><a href="#">도감</a></li>
        <li><a href="#">별자리</a></li>
        <li><a href="#">안장</a></li>
        <li><a href="#">하우징</a></li>
        <li><a href="#">가방</a></li>
        <li><a href="#">미션</a></li>
        <li><a href="#">퀘스트</a></li>
        <li><a href="#">우편함</a></li>
    </ul>
</div>

<footer></footer>

</body>
</html>